#app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}


/* DEBUG ONLY *******************************/
.debug {
    padding: 1rem;
    border: 1px dashed blue;
    background-color: azure;
}

.debug_border{
    border: 1px dashed red;
    padding: .5rem;
}
/********************************************/

.info_bar_bg{
    background-color: $infobar_color;
}

.jumbotron_bg {
    background: rgba(0, 0, 0, 0.6) url("/public/img/bg-9.jpg");
    height: 650px;
    background-blend-mode: darken;
    background-position: top;
    /* filter: brightness(0.5); */
}

.banner_img {
    background-image: url("/public/img/bg-10.jpg");
    height: 350px;
    background-position: center;
}

.jumbotron_bg, .banner_img {
    background-size: cover;
    background-repeat: no-repeat;
}


ul li {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 1rem 0rem;
}


/* BOTTONI  ***********************/
.btn_outline {
    color: white;
    border: 1px solid $primary;
    padding: .5rem 1rem;
    border-radius: 4px;
}
/***********************************/


/* DETTAGLI GRAFICI ****************/
.colored_box_below_logo {
    color: $primary;
    background-color: rgba($primary_lighter, .5);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: .25rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}
/***********************************/