#app {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
}


/* DEBUG ONLY *******************************/
.debug {
    padding: 1rem;
    border: 1px dashed blue;
    background-color: azure;
}

.debug_border{
    border: 1px dashed red;
    padding: .5rem;
}
/********************************************/

.info_bar_bg{
    background-color: $infobar_color;
}

.jumbotron_bg {
    background: rgba(0, 0, 0, 0.6) url("/public/img/bg-9.jpg");
    height: 650px;
    background-blend-mode: darken;
    background-position: top;
    /* filter: brightness(0.5); */
}

.banner_img {
    background-image: url("/public/img/bg-10.jpg");
    height: 450px;
    background-position: center;
}

.jumbotron_bg, .banner_img {
    background-size: cover;
    background-repeat: no-repeat;
}


ul li {
    list-style: none;
}

a {
    text-decoration: none;
    padding: 1rem 0rem;
}


/* BOTTONI  ***********************/

.btn_outline {
    &:hover,
    &:active{
        background-color: $primary;
        color: white;
        box-shadow: 0 0.5em 0.5em -0.4em rgba($primary_lighter, .5);
        transform: scale(1.1);
    }

    color: white;
    border: 1px solid $primary;
    padding: .5rem 1rem;
    border-radius: 4px;
}

/***********************************/

.card {
    padding: 2rem;
    background-color: $card_color;
    color: whitesmoke;
    height: 100%;
}


/* DETTAGLI GRAFICI ****************/
/* .colored_box_below_logo, .colored_box_below {
    color: $primary;
    background-color: rgba($primary_lighter, .5);
} */

.colored_box_below_logo {
    color: $primary;
    background-color: rgba($box_shadow_color, .6);
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: .25rem;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.colored_box_below {
    background-color: $teal-200;
    padding: .25rem 1rem;
    border-radius: 4px;
}

.box_shadow_color {
    background-color: $box_shadow_color;
}

.colored_box_below_round {
    color: $primary;
    background-color: rgba($primary_lighter, .5);
    padding: .25rem;
    width: 20px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.border_left_p {
    font-weight: lighter;
    padding: 1rem;
    border-left: 8px solid $teal-200;
}

.li_disc {
    list-style-type: disc;
    line-height: 1.5rem;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}

h2 {
    font-size: 3rem;
    font-weight: 900;
}

.box_img {
    padding: .5rem;
    width: 100px;
    background-color: $teal-200;
    border-radius: 8px;
    margin: 1rem 1rem 1rem 0rem;
}

.box_img_certifications {
    width: 150px;
    height: 150px;
    display: flex;
}

.bg-teal-100 {
    background-color: $teal-100;
}

.road_map_border {
    border-top: 8px solid $teal-200;
    position: relative;
}

.position {
    position: absolute;
    top: -20px;
    bottom: 0;
}

.height_120 {
    height: 120px;
}

.form-control {
    background-color: $light;
    border-radius: .25rem;
}
/***********************************/
